@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

$accent-bright: hsl(172, 67%, 45%);
$accent-light: hsl(173, 61%, 77%);
$bg-darkest: hsl(183, 100%, 15%);
$bg-inactive: hsl(183, 79%, 24%);
$text-dark: hsl(186, 14%, 43%);
$text-light: hsl(184, 14%, 56%);
$bg-main: hsl(185, 41%, 84%);
$lightest: hsl(189, 41%, 97%);
$warning: hsl(0, 100%, 40%);
$white : hsl(0, 0%, 100%);
$brad-small : 0.3rem;
$brad-large: 1rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Space Mono", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $bg-main;
    font-size: 24px;
    height: 100vh;
}
.logo {
    margin: 5rem 0 ;
}
.calculator-container{
    background: $white;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: $brad-large;
}
.calculator-inputs {
    padding:1rem 2rem 1rem 0;
    fieldset {
        border: none;
    }
    fieldset:not(:last-child) {
        margin-bottom: 2rem;
    }
    legend {
        font-size: 1rem;
        font-weight: 400;
        color: $text-dark;
        margin-bottom: 0.5rem;
    }
    label {
        position: relative;
        display: block;
    }
    #bill-amount, 
    #num-people {
        padding: 0.5rem 1rem;
        display: block;
        width: 100%;
    }
    #bill-amount,
    #num-people,
    #tip-custom {
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none; 
            margin: 0; 
        }
        border: 2px solid transparent;
        caret-color: $accent-bright;
        text-align: right;
        color: $bg-darkest;
        font-family: inherit;
        font-size: inherit;
        font-weight: 700;
        border-radius: $brad-small;
        &:focus,
        &:active,
        &:hover {
            border: 2px solid $accent-bright;
            outline: none;
        }
        &:invalid {
            border: 2px solid $warning;
            & ~ .error {
                display: block;
                animation: errorUp 1s ease;
            }
        }
    }
    #bill-amount {
        background: url(./images/icon-dollar.svg)no-repeat 1rem center, $lightest;
    }
    #num-people {
        background: url(./images/icon-person.svg)no-repeat 1rem center, $lightest;
        
    }
    .error {
        color: $warning;
        position: absolute;
        font-size: 1rem;
        width: max-content;
        right: 0;
        top: -2rem;
        display: none;
    }
    
    .tips {
        display: grid;
        grid-template-columns: repeat(3, 7.5rem);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0.7rem;
        row-gap: 0.8rem;
        max-width: 100%;
        .tip  {
            background: $bg-darkest;
            color: $white;
            padding: 0.4rem 0.8rem;
            border-radius: $brad-small;
            cursor: pointer;
            text-align: center;
            font-family: inherit;
            font-size: inherit;
            font-weight: 500;
            transition: background-color 0.4s ease;
            &.active {
                background: $accent-bright;
                color: $bg-darkest;
            }
            &:hover {
                background: $accent-light;
                color: $bg-darkest;
            }
            input[type = 'radio'] {
                position: absolute;
                opacity: 0;
            }
        }
        .tip-custom {
            background: $lightest;
            padding: 0;
            input {
                background: $lightest;
                padding: 0 0.8rem;
                width: 100%;
                height: 100%;
            }
        }
    }
    
}
.calculator-outputs {
    background: $bg-darkest;
    border-radius: $brad-large;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    .output {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    h5 {
        font-weight: 400;
        font-size: 1rem;
        color: $white;
        position: relative;
        &::after {
            content: '/ person';
            position: absolute;
            display: block;
            bottom: -1.2rem;
            left: 0;
            color: $text-light;
            font-size: 0.8rem;
            width: max-content;
        }
    }
    span {
        color: $accent-bright;
        font-size: 3rem;
        font-weight: 700;
    }
    #btn-reset {
        margin-top: auto;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: inherit;
        font-weight: 700;
        padding: 0.6rem 0;
        background: $bg-main;
        color: $bg-darkest;
        outline: none;
        border: none;
        border-radius: $brad-small;
        cursor: pointer;
        &:disabled {
            background: $bg-inactive;
            color: $bg-darkest;
            cursor: default;
        }
        &.ready {
            background: $accent-bright;
            &:focus,
            &:hover {
                background: $accent-light;
            }   
        }
    }
}

@media  (max-width: 60rem) {
    body {
        height: unset;
    }
    .calculator-container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 98%;
    }
    .calculator-inputs {
        padding: 1rem 0;
        margin-bottom: 2rem;
    }
}
@media (max-width: 34rem) {
    .calculator-container {
        padding: 1rem 1.5rem;
    }
    .calculator-inputs {
        .tips{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

@keyframes errorUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}